@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.product-card {
    width: 210px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 20px 20px;
    background: #fafafa;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 10px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 200px;
    max-height: 200px;
}

.product-details {
    padding: 10px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: #918a8a;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
}

.product-bottom-details p-rating {
    float: left;
}

.product-bottom-details div {
    float: right;
}

.product-price {
    font-size: 15px;
    color: black;
    font-weight: 400;
    float: right;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: black;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

.noProducts {
    font-weight: bolder;
    padding: 20px;
    margin: 20px;
}