<div class="row col-md-12">
    <div class="col-md-3">
        <app-filter></app-filter>
    </div>
    <div class="col-md-9">
        <p-progressSpinner *ngIf="loading"></p-progressSpinner>
        <div class="row col-md-12" *ngIf="!loading">
            <div *ngIf="productsCount < 1">
                <span class="noProducts">No Products Found!</span>
            </div>
            <div class="product-card" *ngFor="let product of products">
                <div class="product-tumb">
                    <img src="./../assets/images/{{product.image}}" alt="">
                </div>
                <div class="product-details">
                    <h4><a (click)="gotoDetails(product.id)">{{product.name}}</a></h4>

                    <span class="product-catagory">{{product.category}} <div class="product-price">${{product.price}}</div></span>
                    <div class="product-bottom-details">
                        <ngb-rating [rate]="product.rating"></ngb-rating>
                        <div class="product-links">
                            <a href=""><i class="fa fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>